.planet {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.card {
    border-radius: 10px;
    background-color: slategrey;
    padding: 10px;
    text-align: center;
}