.planet {
    height: 200px;
    width: 200px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.card {
    border-radius: 10px;
    background-color: slategrey;
    padding: 10px;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.card.Sun {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}